<script type="text/javascript">
    RED.nodes.registerType('digio-connection',{
        category: 'config',
        color: '#a6bbcf',
        defaults: {
            name: {value: ""},
            path: {value: "/dev/ttyUSB0", required: true},
            baud: {value: 9600, required: true},
            retryInterval: {value: 1000, required: true}
        },
        label: function() {
            return this.name || this.path;
        }
    });
</script>

<script type="text/html" data-template-name="digio-connection">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-config-input-name" placeholder="Name">
    </div>

    <div class="form-row">
        <label for="node-input-path"><i class="icon-tag"></i> Path</label>
        <input type="text" id="node-config-input-path">
    </div>

    <div class="form-row">
        <label for="node-input-baud"><i class="icon-tag"></i> Baud Rate</label>
        <input type="text" id="node-config-input-baud">
    </div>

    <div class="form-row">
        <label for="node-input-retryInterval"><i class="icon-tag"></i> Retry Interval</label>
        <input type="text" id="node-config-input-retryInterval">
    </div>
</script>

<script type="text/html" data-help-name="digio-connection">
    <p>
        Connection to a DIGIO device.
        Retry interval is specified in milliseconds.
    </p>
</script>
