<script type="text/javascript">
    RED.nodes.registerType('digio in',{
        category: 'function',
        color: '#a6bbcf',
        defaults: {
            name: {value: ""},
            digio: {
                type: "digio-connection",
                required: true
            }
        },
        outputs: 1,
        label: function() {
            return this.name || "digio in";
        }
    });
</script>

<script type="text/html" data-template-name="digio in">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>

    <div class="form-row">
        <label for="node-input-digio"><i class="icon-tag"></i> DIGIO Device</label>
        <input type="text" id="node-input-digio">
    </div>
</script>

<script type="text/html" data-help-name="digio in">
    <p>This node interfaces a DIGIO device to read input pin values</p>
</script>
