<script type="text/javascript">
    RED.nodes.registerType('function generator', {
        category: 'function',
        color: '#a6bbcf',
        defaults: {
            name: {value: ""},
            waveform: {
                value: "sine"
            },
            frequency: {
                value: 1
            },
            samplingRate: {
                value: 10
            },
            min: {
                value: -1
            },
            max: {
                value: 1
            },
            initialPhase: {
                value: 0
            },
            sendInitialSample: {
                value: true
            },
            dutyCycle: {
                value: 0.5
            }
        },
        inputs: 1,
        outputs: 1,
        icon: "function.png",
        label: function() {
            return this.name || "function generator";
        },
        button: {
            enabled: function() {
                return true;
            },
            onclick: function() {
                let node = this;
                var label = node._def.label();
                if (label.length > 30) {
                    label = label.substring(0, 50) + "...";
                }
                $.ajax({
                    url: "function_generator/" + node.id,
                    type: "POST",
                    data: JSON.stringify({payload: "toggle"}),
                    contentType: "application/json; charset=utf-8",
                    success: function (resp) {
                        RED.notify(node._("inject.success", { label: label }), { type: "success", id: "inject", timeout: 2000 });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        if (jqXHR.status == 404) {
                            RED.notify(node._("common.notification.error", { message: node._("common.notification.errors.not-deployed") }), "error");
                        } else if (jqXHR.status == 500) {
                            RED.notify(node._("common.notification.error", { message: node._("inject.errors.failed") }), "error");
                        } else if (jqXHR.status == 0) {
                            RED.notify(node._("common.notification.error", { message: node._("common.notification.errors.no-response") }), "error");
                        } else {
                            RED.notify(node._("common.notification.error", { message: node._("common.notification.errors.unexpected", { status: jqXHR.status, message: textStatus }) }), "error");
                        }
                    }
                });
            }
        },
        oneditprepare: function() {
            let dutyCycle = $("#node-input-dutyCycle").typedInput({
                type: "num",
                types: ["num"]
            });

            let onWaveform = (waveform) => {
                if (waveform == "square" || waveform == "triangle") {
                    dutyCycle.typedInput("enable");
                }
                else {
                    dutyCycle.typedInput("disable");
                }
            };

            let waveform = $("#node-input-waveform");
            waveform.typedInput({
                types: [
                    {
                        value: "waveform",
                        options: [
                            {value: "sine", label: "sine"},
                            {value: "square", label: "square"},
                            {value: "triangle", label: "triangle"}
                        ]
                    }
                ]
            })
            .on('change', (event, type, value) => onWaveform(value));
            onWaveform(waveform.typedInput("value"));

            $("#node-input-frequency").typedInput({
                type: "num",
                types: ["num"]
            });
            $("#node-input-samplingRate").typedInput({
                type: "num",
                types: ["num"]
            });
            $("#node-input-min").typedInput({
                type: "num",
                types: ["num"]
            });
            $("#node-input-max").typedInput({
                type: "num",
                types: ["num"]
            });
            $("#node-input-initialPhase").typedInput({
                type: "num",
                types: ["num"]
            });
        }
    });
</script>

<script type="text/html" data-template-name="function generator">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i>Name</label>
        <input type="text" id="node-input-name">
    </div>

    <div class="form-row">
        <label for="node-input-waveform"><i class="fa fa-music"></i> Waveform</label>
        <input type="text" id="node-input-waveform">
    </div>

    <div class="form-row">
        <label for="node-input-frequency"><i class="fa fa-clock-o"></i> Frequency</label>
        <input type="text" id="node-input-frequency">
    </div>

    <div class="form-row">
        <label for="node-input-samplingRate"><i class="fa fa-clock-o"></i> Sampling Rate</label>
        <input type="text" id="node-input-samplingRate">
    </div>

    <div class="form-row">
        <label for="node-input-min"><i class="fa fa-arrow-down"></i> Min</label>
        <input type="text" id="node-input-min">
    </div>

    <div class="form-row">
        <label for="node-input-max"><i class="fa fa-arrow-up"></i> Max</label>
        <input type="text" id="node-input-max">
    </div>

    <div class="form-row">
        <label for="node-input-initialPhase"><i class="fa fa-arrow-right"></i> Initial Phase</label>
        <input type="text" id="node-input-initialPhase">
    </div>

    <div class="form-row">
        <label for="node-input-sendInitialSample"><i class="fa fa-wrench"></i> Send Initial Sample</label>
        <input type="checkbox" id="node-input-sendInitialSample" style="display: inline-block; width: auto; vertical-align: top;">
    </div>

    <div class="form-row">
        <label for="node-input-dutyCycle"><i class="fa fa-wrench"></i> Duty Cycle</label>
        <input type="text" id="node-input-dutyCycle">
    </div>
</script>

<script type="text/html" data-help-name="function generator">
    <p>Function generator which can output different repeating waveforms</p>
</script>
