<script type="text/javascript">
    RED.nodes.registerType('mywait', {
        category: 'function',
        color: '#a6bbcf',
        defaults: {
            name: {value: ""},
            duration: {
                value: "1000",
                required: true
            }
        },
        inputs: 1,
        outputs: 1,
        icon: "font-awesome/fa-clock-o",
        label: function() {
            return this.name || `wait ${this.duration} ms`;
        },
    });
</script>

<script type="text/html" data-template-name="mywait">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>

    <div class="form-row">
        <label for="node-input-duration"><i class="icon-tag"></i> Duration</label>
        <input type="text" id="node-input-duration">
    </div>
</script>

<script type="text/html" data-help-name="mywait">
    <p>
        Cancellable wait.
        A message with payload "start" starts the timer, and the message is forwarded
        after the specified duration (in ms).
        A message with payload "stop" cancels the timer: the "stop" message is directly forwarded,
        the previously queued message (if any) is lost.
    </p>
</script>
