<script type="text/javascript">
    RED.nodes.registerType('ola out', {
        category: 'function',
        color: '#a6bbcf',
        defaults: {
            name: {value: ""},
            universe: {
                type: "ola-universe",
                required: true
            },
            values: {
                value: "[]",
                required: true
            }
        },
        inputs: 1,
        outputs: 1,
        icon: "light.png",
        label: function() {
            return this.name || "ola out";
        },
        button: {
            enabled: function() {
                return true;
            },
            onclick: function() {
                let node = this;
                var label = node._def.label();
                if (label.length > 30) {
                    label = label.substring(0, 50) + "...";
                }
                $.ajax({
                    url: "ola_out/" + node.id,
                    type: "POST",
                    data: JSON.stringify({payload: "inject"}),
                    contentType: "application/json; charset=utf-8",
                    success: function (resp) {
                        RED.notify(node._("inject.success", { label: label }), { type: "success", id: "inject", timeout: 2000 });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        if (jqXHR.status == 404) {
                            RED.notify(node._("common.notification.error", { message: node._("common.notification.errors.not-deployed") }), "error");
                        } else if (jqXHR.status == 500) {
                            RED.notify(node._("common.notification.error", { message: node._("inject.errors.failed") }), "error");
                        } else if (jqXHR.status == 0) {
                            RED.notify(node._("common.notification.error", { message: node._("common.notification.errors.no-response") }), "error");
                        } else {
                            RED.notify(node._("common.notification.error", { message: node._("common.notification.errors.unexpected", { status: jqXHR.status, message: textStatus }) }), "error");
                        }
                    }
                });
            }
        },
        oneditprepare: function() {
            $("#node-input-values").typedInput({
                type: "json",
                types: ["json"]
            });
        }
    });
</script>

<script type="text/html" data-template-name="ola out">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>

    <div class="form-row">
        <label for="node-input-universe"><i class="icon-tag"></i> Universe</label>
        <input type="text" id="node-input-universe">
    </div>

    <div class="form-row">
        <label for="node-input-values"><i class="fa fa-tag"></i> Values</label>
        <input type="text" id="node-input-values">
    </div>
</script>

<script type="text/html" data-help-name="ola out">
    <p>This node interfaces with OpenLighting to control DMX devices</p>
</script>
