<script type="text/javascript">
    RED.nodes.registerType('ola-universe',{
        category: 'config',
        color: '#a6bbcf',
        defaults: {
            name: {value: ""},
            daemon: {type: "olad", required: true},
            uid: {value: 1, required: true},
            size: {value: 512, required: true}
        },
        label: function() {
            if (this.name) {
                return this.name;
            }
            if (this.daemon) {
                daemonLabel = RED.nodes.node(this.daemon).label();
                if (daemonLabel && this.uid) {
                    return `${daemonLabel};${this.uid}`;
                }
            }
            return "ola universe";
        },
        oneditprepare: function() {
            $("#node-config-input-uid").typedInput({
                type: "num",
                types: ["num"]
            });
            $("#node-config-input-size").typedInput({
                type: "num",
                types: ["num"]
            });
        }
    });
</script>

<script type="text/html" data-template-name="ola-universe">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-config-input-name" placeholder="My Universe">
    </div>

    <div class="form-row">
        <label for="node-input-daemon"><i class="icon-tag"></i> Daemon</label>
        <input type="text" id="node-config-input-daemon">
    </div>

    <div class="form-row">
        <label for="node-input-uid"><i class="icon-tag"></i> UID</label>
        <input type="text" id="node-config-input-uid">
    </div>

    <div class="form-row">
        <label for="node-input-size"><i class="icon-tag"></i> Size</label>
        <input type="text" id="node-config-input-size">
    </div>
</script>

<script type="text/html" data-help-name="ola-universe">
    <p>OLA universe</p>
</script>
