<script type="text/javascript">
    RED.nodes.registerType('olad',{
        category: 'config',
        color: '#a6bbcf',
        defaults: {
            name: {value: ""},
            host: {value: "127.0.0.1", required: true},
            port: {value: 9090, required: true}
        },
        label: function() {
            return this.name || `${this.host}:${this.port}`;
        }
    });
</script>

<script type="text/html" data-template-name="olad">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-config-input-name" placeholder="Name">
    </div>

    <div class="form-row">
        <label for="node-input-host"><i class="icon-tag"></i> Host</label>
        <input type="text" id="node-config-input-host">
    </div>

    <div class="form-row">
        <label for="node-input-port"><i class="icon-tag"></i> Port</label>
        <input type="text" id="node-config-input-port">
    </div>
</script>

<script type="text/html" data-help-name="olad">
    <p>Address of an OLA daemon</p>
</script>
