<script type="text/javascript">
    RED.nodes.registerType('play-multichannel-audio', {
        category: 'function',
        color: '#a6bbcf',
        defaults: {
            name: {value: ""},
            file: {
                value: "",
                required: true
            },
            remix: {
                value: "[]",
                required: true
            }
        },
        icon: "font-awesome/fa-volume-up",
        inputs:1,
        outputs:1,
        label: function() {
            return this.name || "Play Multichannel Audio";
        },
        button: {
            enabled: function() {
                return true;
            },
            onclick: function() {
                let node = this;
                var label = node._def.label();
                if (label.length > 30) {
                    label = label.substring(0, 50) + "...";
                }
                $.ajax({
                    url: "play-multichannel-audio/" + node.id,
                    type: "POST",
                    data: JSON.stringify({payload: "inject"}),
                    contentType: "application/json; charset=utf-8",
                    success: function (resp) {
                        RED.notify(node._("inject.success", { label: label }), { type: "success", id: "inject", timeout: 2000 });
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        if (jqXHR.status == 404) {
                            RED.notify(node._("common.notification.error", { message: node._("common.notification.errors.not-deployed") }), "error");
                        } else if (jqXHR.status == 500) {
                            RED.notify(node._("common.notification.error", { message: node._("inject.errors.failed") }), "error");
                        } else if (jqXHR.status == 0) {
                            RED.notify(node._("common.notification.error", { message: node._("common.notification.errors.no-response") }), "error");
                        } else {
                            RED.notify(node._("common.notification.error", { message: node._("common.notification.errors.unexpected", { status: jqXHR.status, message: textStatus }) }), "error");
                        }
                    }
                });
            }
        },
        oneditprepare: function() {
            $("#node-input-remix").typedInput({
                type: "json",
                types: ["json"]
            });
        }
    });
</script>

<script type="text/html" data-template-name="play-multichannel-audio">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-file"><i class="fa fa-tag"></i> File</label>
        <input type="text" id="node-input-file" placeholder="Path">
    </div>
    <div class="form-row">
        <label for="node-input-remix"><i class="fa fa-tag"></i> Remix</label>
        <input type="text" id="node-input-remix" placeholder="Remix map">
    </div>
</script>

<script type="text/html" data-help-name="play-multichannel-audio">
    <p>A node that plays an audio file. The audio can be remixed to multiple output channels.</p>
</script>
